<!DOCTYPE html>
<head>
    <title> Devices </title>
 <link rel="stylesheet" href="C:\xampp\htdocs\project\public\css\Devices.css">
 <script src="C:\xampp\htdocs\project\public\javascript\DevicesJS.js"></script>
</head>
<body>
    <div id="tit">
        <button type="button" id="CanB" onclick="canFun()">Cancel</button>   
    <h1>Devices</h1>
    <button type="button" id="BuyB" onclick="BuyFun()">Buy</button>
    </div>

    <div id="gen1">
       
   <div id="p1">
    
    <img id ="i1" src="C:\xampp\htdocs\project\public\images\71KYElz2YOL._AC_SX569_.jpg">
    <h2>Lenovo loq 15</h2>
    <h2 id ="price">48499 EGP</h2>
    <h2 id ="RAM">32 GB RAM</h2>
    <h2 id ="Screen_space">15.6 Inch</h2>
    <button type="button" id="AddB">Add</button>
   </div>
   <div id="p2">
    
    <img id ="i1" src="C:\xampp\htdocs\project\public\images\512rfPA6vgL._AC_SX569_.jpg">
    <h2>Lenovo V15</h2>
    <h2 id ="price">16999 EGP</h2>
    <h2 id ="RAM">8 GB RAM</h2>
    <h2 id ="Screen_space2">15.6 Inch</h2>
    <button type="button" id="AddB2">Add</button>
   </div>
    </div>
</body>